<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Adding Properties file -->

<!-- 	<context:property-placeholder location="classpath:coach.properties"/> -->

	<!-- Define beans -->
	
<!-- 	<bean id="myFortune" class="com.codedevunlocked.iocdemo.HappyFortuneService" /> -->
	
	<!-- 
	<bean id="myCoach" class="com.codedevunlocked.iocdemo.BaseballCoach">
		<constructor-arg ref="myFortune" />
	</bean>
	 -->
<!-- 	 
	<bean id="myCoach" class="com.codedevunlocked.iocdemo.TrackCoach">
		<property name="fs" ref="myFortune" />
		<property name="coachName" value="${coach.coachname}" />
	</bean>
	 -->
	 
	 <context:component-scan base-package="com.codedevunlocked.iocdemo" />
	
</beans>





